extends layout

block content
  h1= title
  p You are at #{loc.lat}, #{loc.long}
  p berlin is at #{berlin.lat}, #{berlin.long}
  p Your bearing is be #{bearing || 'unkown'}

  //- iframe(width='600', height='450', frameborder='0', style='border:0', src=src, allowfullscreen)

  .disc
    .arrow(style=`transform: rotate(${bearing}deg)`)