extends layout

block content

  h1 Polaris

  h2 Location

  form(onsubmit="return false")
    .row
      .col
        label(for='lat') Latitude
        input(type='text', id='lat', value=loc.lat || 0, required)
      .col
        label(for='long') Longitude
        input(type='text', id='long', value=loc.long || 0, required)
    .form-flex
      .form-message
        #update-success Compass location updated 
        #update-fail Update failed
      button(id='geo-btn')
        .geo-icon
          .geo-icon-mask
      button(id='set-btn') Update

  h2 Destination
  
  if dest
    .tweet
      .meta
        strong= dest.name 
        small  @#{dest.user}
      p= dest.text
    hr

    .row
      .col
        label Latitude
        .faux-input #{dest.lat}
      .col
        label Longitude
        .faux-input #{dest.long}

    .compass-flex
      .bearing-contain
        label Bearing    
        .faux-input #{dest.bearing || 'unkown'}°
      .compass-contain
        .compass
          .needle(style=`transform: rotate(${dest.bearing}deg)`)
  else
    p No destination can be found

  hr
    
  //- iframe(width='600', height='450', frameborder='0', style='border:0', src=src, allowfullscreen)
