extends layout

block content

  h1= title

  h2 Location

  form(onsubmit="return false")
    .row
      .col
        label(for='lat') Latitude
        input(type='text', id='lat', value=coords.lat || 0, required)
      .col
        label(for='long') Longitude
        input(type='text', id='long', value=coords.long || 0, required)
    .form-flex
      .form-message
        #update-success Compass location updated 
        #update-fail Update failed
      button(id='set-btn') Update

  h2 Destination
  //- p berlin is at #{berlin.lat}, #{berlin.long}
  .row
    .col
      label Latitude
      .faux-input #{berlin.lat}
    .col
      label Longitude
      .faux-input #{berlin.long}

  //- p You are at latitude: #{coords.lat || 'unkown'}, longitude: #{coords.long || 'unkown'}
  //- p Your bearing is #{bearing || 'unkown'}°


  .compass-flex
    .bearing-contain
      label Bearing    
      .faux-input #{bearing || 'unkown'}°
    .compass-contain
      .compass
        .needle(style=`transform: rotate(${bearing}deg)`)

  hr

  .tweets
    each tweet in tweets.statuses
      if tweet.coordinates
        .tweet
          .meta
            strong= tweet.user.name 
            span  @#{tweet.user.screen_name}
          p= tweet.text
          p lat: #{tweet.coordinates.coordinates[1]}, long: #{tweet.coordinates.coordinates[0]}
        hr
    
    
    

  //- iframe(width='600', height='450', frameborder='0', style='border:0', src=src, allowfullscreen)
